main {
  display: flex;
  height: 100vh;
  max-height: 100vh;
  overflow-x: auto;
  overflow-y: hidden;
}

.sidebar {
  width: 280px;
}

.btn-toggle {
  display: inline-flex;
  font-weight: 600;
}

.btn-toggle:hover,
.btn-toggle:focus {
  background-color: #d2f4ea;
}

.btn-arrow-icon::before {
  width: 1.25rem;
  content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16"> <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708"/></svg>');
  line-height: 0;
  transition: transform .35s ease;
  transform-origin: .5em 50%;
}


.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.bi-plus-square:hover {
  cursor: pointer;
  background-color: #d2f4ea;
}

.title {
  text-align: center;
}